.pageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.productContainer{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.545);
    border: none;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 600px 1fr;
    height: 600px;
    margin: 25px 0 0 0;
}
.imgContainer{
    overflow: hidden;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 5px;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    align-items: center;
    justify-content: center;
}
.productName{
    margin: 0 0 30px 0;
    font: 800 24px roboto,arial;
    width: 300px;
}
.info{
    align-items: left;
    width: 100%;
}
.info p{
    font: 600 18px roboto,arial;
    margin: 0 0 4px 0;
    color: rgb(77, 77, 77);
}
.originalPrice span{
    text-decoration:line-through;
    color: rgb(56, 56, 56);
}
.discountPrice span{
    color: rgb(30, 30, 30);
}
.colors span{
    color: rgb(30, 30, 30);
}
.availability span{
    color: rgb(0, 179, 0);
}
.discountPercent{
    margin: 20px 0 0 0;
    font:600 25px roboto,arial;
    color: rgb(164, 0, 0);
}
.btnContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.backBtn{
    background-color: rgb(167, 0, 0);
    border: none;
    border-radius: 4px;
    color: white;
    font: 500 20px roboto,arial;
    padding: 6px 12px;
    letter-spacing: 1px;
    cursor: pointer;    
}


@media (max-width: 1024px) and (min-width: 769px) {
    .productContainer{
        display: grid;
        grid-template-columns: 600px;
        height: 600px;
        margin: 75px 0 0 0;
        padding: 0 0 20px 0;
    }
    .productName{
        margin: 0 0 15px 0;
        font: 800 25px roboto,arial;
        width: 100%;
    }
    .info p{
        font: 600 22px roboto,arial;
        margin: 0 0 5px 0;
    }
    .discountPercent{
        margin: 20px 0 0 0;
        font:600 29px roboto,arial;
    }
    .backBtn{
        font: 500 19px roboto,arial;
        padding: 6px 10px;
    }
}

@media (max-width: 768px) {
    .productContainer{
        display: grid;
        grid-template-columns: 300px;
        height: 550px;
        margin: 75px 0 0 0;
        padding: 0 0 20px 0;
    }
    .productName{
        margin: 0 0 15px 0;
        font: 800 19px roboto,arial;
        width: 100%;
    }
    .info p{
        font: 600 17px roboto,arial;
        margin: 0 0 5px 0;
    }
    .discountPercent{
        margin: 20px 0 0 0;
        font:600 24px roboto,arial;
    }
    .backBtn{
        font: 500 17px roboto,arial;
        padding: 6px 10px;
    }
}


@media (max-width: 480px) {
    .productContainer{
        display: grid;
        grid-template-columns: 300px;
        height: 470px;
        margin: 75px 0 0 0;
        padding: 0 0 20px 0;
    }
    .productName{
        margin: 0 0 15px 0;
        font: 800 16px roboto,arial;
        width: 100px;
    }
    .info p{
        font: 600 14px roboto,arial;
        margin: 0 0 5px 0;
    }
    .discountPercent{
        margin: 20px 0 0 0;
        font:600 18px roboto,arial;
    }
    .backBtn{
        font: 500 13px roboto,arial;
        padding: 4px 8px;
    }
}