.second-header{
    display: flex;
    justify-content: center;
    justify-items: center;
    position: fixed;
    top: 75px;
    height: 60px;
    width: 100%;
    z-index: 999;
    background-color: rgb(246, 244, 244);
}
.dropdown{
    position: relative;
    width: 23%;
}
.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
    position: relative;
    margin: 0;
    width: 100%;
}
.main-item{
    position: relative;
    display: inline;
    list-style-type: none;
    font: 18px roboto, arial;
}
.main-item-name{
    text-decoration: none;
    color: black;
}
.main-item::after {
    content: ''; /* Empty content to create the underline */
    position: absolute;
    width: 0; /* Initially no underline */
    height: 2px; /* Thickness of the underline */
    bottom: -4px; /* Align underline to the bottom */
    left: 0;
    background-color: black; /* Color of the underline */
    transition: width 0.2s ease; /* Animation when hovering */
}
.main-item:hover::after {
    width: 100%; /* Full width underline on hover */
}


.dropdown-second-menu{
    background-color: rgb(246, 244, 244);
    position: absolute;
    right: 0%;
    transform: translatex(150px);
    height: 60px;
    display: none;
    align-items: center;
    top: 100%;
}
.second-menu{
    display: flex;
    gap: 30px;
    padding: 0px 25px;
    margin: 0px;
}
.second-item{
    list-style-type: none;
}
.second-item a{
    font:500 18px roboto,arial;
    text-decoration: none;
    color: rgb(108, 107, 107);
}
.second-item a:hover{
    color: black;
}
.main-item:hover .dropdown-second-menu{
    display: flex;
}


@media (max-width: 768px){
    .dropdown{
        width: 32%;
    }
    .main-item{
        font: 16px roboto, arial;
    }
    .second-item a{
        font:500 15px roboto,arial;
    }
    .second-menu{
        gap: 13px;
        padding: 0px 13px;
    }
    .dropdown-second-menu{    
        right: 0%;
        transform: translatex(100px);
        height: 40px;
        top: 160%;
    }
}
    
@media (max-width: 480px) {
    .dropdown{
        width: 29%;
    }
    .main-item{
        font: 14px roboto, arial;
    }
    .second-item a{
        font:500 13px roboto,arial;
    }
    .second-menu{
        gap: 13px;
        padding: 0px 10px;
    }
    .dropdown-second-menu{    
        right: 0%;
        transform: translatex(100px);
        height: 30px;
        top: 170%;
    }
}